* {
    box-sizing: border-box;
}
@font-face {
    font-family: "novabr";
    src: url("../fonts/novabr_.ttf")   
}
@font-face {
    font-family: "novam";
    src: url("../fonts/novam.ttf")
}
body {
    display: grid;
    grid-template: 100px auto auto / auto;
    gap: 0.5em;
    background-color: #FFFEDB;
    margin: 0;
    background-size: contain;
    background-position:center 0    ;
    background-repeat: repeat-y;
    overflow-x: hidden;
    width: 100vw;
    
}
@media only screen and (min-width:900px) {
    body {
        grid-template: 360px auto auto / auto;
        width: 100vw;
    }
}
@media only screen and (min-width:1200px) {
    body {
        grid-template: 100vh auto auto / auto;
        width: 100vw;
    }
}
body div {
    padding: 0.5em;
}
#modal {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
    overflow: auto;
}

#modal-inner {
    width: 85%;
    background-color: #FFFEDB;
    overflow-y:auto;
    overflow-x: hidden;
    margin: 5% auto;
    box-shadow: 0px 0px 30px 0px #221;
}
#img-and-description {
    margin: 5%;
}
.modal-img {
    width: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
    float:left;
}
#modal-inner h1 {
    margin-top: 0;
}
#modal-inner h1, #modal-inner h3 {
    text-align: center;
}
.buttons-div {
    display:flex
}
.buy-button {
    display: block;
    background-image: url("../img/buy-btn-logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 50px;
    padding: 0;
    background-color: black;
    overflow: hidden;
    border-radius: 3px;
    margin: 0 auto;
    border: 2.5px outset black;
}
.buy-button:hover, .buy-button:focus {
    border: 3px inset black;
}
.online-button {
    display: flex;
    width: 150px;
    height: 50px;
    padding: 0;
    overflow: hidden;
    border-radius: 3px;
    margin: 0 auto;
    border: 2.5px outset cyan;
    align-items: center;
    justify-content: center;
    
}
.online-button:hover, .online-button:focus {
    border: 3px inset cyan;
    font-size: 98%;
}
#specs {
    clear: left;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
}
#paperback, #kindle {
    display: grid;
    grid-template: 20px 1fr / 1fr 1fr;
}
#global {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}
#specs div p {
    line-height: 0.5;
}
.col-1 {
    font-weight:bold;
    text-align: right;
    
}
.col-1, .col-2 {
    white-space: nowrap;
    
}
.col-title {
    grid-column: 1 / 3;
    text-align: center;
    font-weight: bold;
    font-family: novabr;
    text-decoration: underline;
}
#close-modal-btn{
    font-family: Arial, Helvetica, sans-serif;
    top: 0px;
    right: 20px;
    color: black;
    text-shadow: 0px 0px 5px #FFFEDB;
    font-size: 3em;
    font-weight: bold;
    position: fixed;
    cursor: pointer;
}
#close-modal-btn:hover {
    color: #DDDBA9;
    text-shadow: 0px 0px 5px black;
}
#header {
    grid-area: 1 / 1 / 2 / 1;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    width: 105%;
    padding-right: 5%;
    position: relative;
}

@media only screen and (min-width:1200px) {
    #header {
        width: 100%;
    }
}
#first-text-div {
    margin:0;
}
#titles-div {
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
}
#header-description-div {
    position: absolute;
    left: 0;
    right: 0;
    top: 55%;
}

.light-header-text {
    color:#FFFEDB;
    text-shadow: 0px 0px 8px black, 0px 0px 2px black;
}
.dark-header-text {
    color: #200306;
    text-shadow: 0px 0px 8px #FFFEDB, 0px 0px 2px #FFFEDB;
}
#header p:nth-child(2) {
    margin-top: 0px;
    
}
#header p:nth-child(3) {
    max-width: 40%;
    padding: 1em;
    
}
#header h1 {
    font-family: novabr;
    font-size: 4.5em;
    margin-bottom: 0;
    
}
#header h2 {
    font-family: novabr;
    font-size: 2.5em;
    margin-top:0;
    
}
#header p {
    font-size: 125%;
    font-weight: 400;
    margin: 1em 1em;
    color: black;
    background-color: rgba(255,254,219,0.7);
    text-shadow: 0px 0px 0px transparent;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3em;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.arrow {
    color:#FFFEDB;
    font-family: novabr;
    font-size: 8em;
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 4px black;
    cursor: pointer;
    position: absolute;
    left: 45%;
}
.arrow:hover {
    text-shadow: 0px 0px 4px black, 0px 0px 10px #FFFEDB;
}
#floating-btn-top {
    position: fixed;
    bottom: 30px;
    right: 30px; 
    width: 50px;
    height: 50px;
    justify-content:center;
    align-items: center;
    font-size: 2.5em;
    background-color: lightblue;
    z-index: 1;
    font-family: novabr;
    opacity: 0.7;
    border: 4px solid white;
    box-shadow: 0px 0px 5px gray;
    border-radius: 15px;
    cursor: pointer;
    color: rgba(0,0,0,0.8);
}
#floating-btn-top:hover {
    opacity: 0.9
}
.floating-btn-display-class {
    display: flex;
}
#header-arrow {
    bottom: -20px;
}
#mid-page-arrow {
    top: -27px;
}
.rotate-arrow-down {
    transform: rotate(270deg);
}
.rotate-arrow-up {
    transform: rotate(90deg);
}
#main {
    grid-area: 2 / 1 / span 1 / 1;
    display: grid;
    grid-template: 50px 120px 120px 50px 120px 1fr / 50px repeat(10, 1fr) 50px ;
    gap: 0.5em;
    padding: 0;
    
}
#carousel-outer {
    grid-area: 1 / 2 / 5 / span 10;
    overflow: hidden;
    padding: 0;
    background-color: #FFFEDB;
    position: relative;
    
    
}
@media only screen and (min-width:1200px) {
    #carousel-outer {
        grid-area: 1 / 2 / 5 / span 6 ;    
        
    }
}

#carousel-inner {
    /*grid-template: js generated*/
    height: 110%;
    width: 100%;
    overflow-x: scroll;
    display: grid;
    gap: 0.5em;
    position: relative;
    scroll-snap-type: x mandatory;
    touch-action:pan-y;
    
    
}

#carousel-inner .book-rectangle{
    grid-row: 1 / 2;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    scroll-snap-align: center;
    
}
#carousel-inner .book-rectangle:hover .book-cover {
    filter: brightness(1.07);
}
#carousel-inner .book-rectangle:hover {
    color: #333;
    
}
.text-div {
    width: 100%;
    height: 100%;
    padding: 0.2em;
    overflow: hidden;
}
.book-cover {
    height: 96%;
}
.book-title {
    font-family: novam;
    text-align: center;
    margin-bottom: 10px;
}
.book-author {
    margin-top: 0;
    margin-bottom: 0;
    font-family: novam;
    text-align: center;
    font-style: italic;
}
.book-description-div {
    height: 190px;
    width: 100%;
    overflow: hidden;
    margin: 0;
    text-align: justify;
    margin-left:auto;
    margin-right: auto;
}
.click-alert {
    position: absolute;
    bottom: 50px;
    width: max-content;
    text-shadow: 0px 0px 5px orange;
    background-color: #FFFEDB;
    
}
#dots {
    position:absolute;
    font-size: 5rem;
    text-shadow: 0px 0px 5px #999;
    color:rgba(255,254, 219, 1);
    padding: 0;
    bottom: -15px;
    width: 300px;
    margin-left: -150px;
    left: 55%;
    text-align: center;
}
.selected-dot {
    text-shadow: 0px 0px 5px black;
    color:white;
}
#arrow-left-container {
    grid-area: 2 / 1 / span 2 / 1;
    position: relative;
}
#arrow-right-container {
    grid-area: 2 / -2 / span 2 / span 1;
    position: relative;
}
@media only screen and (min-width:1200px) {
    #arrow-right-container {
        grid-area: 2 / 8 / span 2 / 9;
    }
}
#arrow-left, #arrow-right {
    position:absolute;
    font-size: 5em;
    font-weight: bold;
    color:#FFFEDB;
    text-shadow: 0px 0px 20px black;
    cursor: pointer;
    top: 30px;
    left: -40px;
}
#arrow-left:hover, #arrow-right:hover {
    text-shadow: 0px 0px 15px black;
    color:white;
}

#painting-preview, #painting-title-author-div, #painting-bottom {
    display: none;
}
@media only screen and (min-width:1200px) {
    #painting-preview {
        grid-area: 2 / 9 / 4 / 12;
        color: black;
        font-size: 1em;
        padding: 0;
        border-radius: 20px;
        text-shadow: 0px 0px 5px white;
        background-position: center;
        background-size:auto 100%;
        background-repeat: no-repeat;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    #painting-title-author-div {
        grid-area: 1 / 9 / 2 / 12;
        line-height: 50%;
        text-align: center;
        padding: 0;
        margin: 0;
        display:block;
    }
    #painting-bottom {
        grid-area: 4 / 9 / 5 / 12;
        padding: 0;
        text-align: center;
        display:block;
    }
}
#painting-preview p {
    margin: 0;
    color: #FFFEDB;
    text-shadow: 0px 0px 5px black, 2px 2px 2px black, -2px -2px 2px black, -2px 2px 2px black,2px -2px 2px black;
    font-size: 110%;
    
}
#painting-preview:hover {
    background-size:auto 120%;
    box-shadow: 0px 0px 25px inset #FFFEDB;
}

#background-div {
    background-size: cover;
    background-position:top;
    grid-area: 5 / 1 / 6 / -1 ;
    background-attachment: fixed;
    padding: 0;
    position: relative;
}
#books-grid-outer {
    grid-area: -1 / 2 / span 1 / 12;
    
}
#grid-selector {
    grid-area: 1 / 1 / 2 / 6;
    display: grid;
    align-items: center;
    grid-template-columns: 100px repeat(4,1fr);
    gap: 0.5em;
}
#all-books {
    grid-column: 1 / 2;
    /* background-color: red; */
    text-align: right;
    justify-content: center;
    border: 0.5px solid #eb6;
    
}
#author-menu {
    grid-column: 2 / 3;
    /* background-color: green; */
    border: 0.5px solid  #eb6;
}
#category-menu {
    grid-column: 3 / 4;
    /* background-color: purple; */
    border: 0.5px solid  #eb6;
}
#aZzA {
    grid-column: 5 / 6;
    /* background-color: royalblue; */
    justify-content: right;
}
#a-z, #z-a {
    border: 0.5px solid  #eb6;
    border-radius: 10px;
    margin-left:0.5em;
}
#grid-selector > div {
    cursor: pointer;
    display: flex;
    padding: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    border-radius: 10px;
    
}
.dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    width: 200px;
}
.dropbtn {
    display: inline-block;
    text-align: left;
    width: 100%;
}
.dropdown-content {
    display: none;
    position: absolute;
    flex-direction: column;
    margin-top: 1.5em;
    width: 100%;
    background-color: rgba(255,254, 219, 0.9);
    top: 10px;
    left: 0px;
    padding-bottom: 0;
    padding-top: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 1px 3px #eb6;
}
.dropdown-content li {
    margin-bottom: 1em;
}
.dropdown:hover .dropdown-content, .dropbtn:focus + .dropdown-content {
    display: block;
}

.submenu-active + .dropdown-content {
    display: block;
}



#books-grid-inner {
    grid-area: -1 / 1 / span 1 / span 6;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 1rem; 

}
@media only screen and (min-width:900px) {
    #books-grid-inner {
        grid-template-columns:repeat(5, 1fr);
    }
}
@media only screen and (min-width:1200px) {
    #books-grid-inner {
        grid-template-columns:repeat(6, 1fr);
    }
}
.book-img-div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
}
.book-img-div:hover, .book-img-div:focus {
    box-shadow: 0px 0px 10px 3px burlywood;
}
.book-img {
    width:100%;
    height: 100%;
    object-fit: cover;
}
.book-img-div-category {
    margin:0;
}
.grid-book-text {
    justify-self: flex-end;
}
@media only screen and (min-width: 1200px) {   
    .book-img-div:nth-child(5) {
        grid-column: span 2;
        grid-row: span 2;
    
}
    .book-img-div:nth-child(5) img {
        width: 80%;
        height: 65%;
        object-fit:fill;
    }
}
.social-science-category {
    color: magenta;
}
.modern-translations-category {
    color: blue;
}
.fiction-category {
    color: red;
}
.childrens-books-category {
    color:green;
}
#footer {
padding: 1em;
grid-area: -1 / 1 / -2 / -1;
margin-bottom:0;
background-size: cover;
background-position-y: bottom;
background-attachment: fixed;
display: grid;
grid-template: 1fr 1fr / 1fr 1fr;
align-items: center;
gap: 1em;
overflow: hidden;

}

@media only screen and (min-width:1200px) {
    #footer {
        grid-template: 1fr / 1fr 1fr 1fr 1fr;
        gap: 1.5em;
    }
    
}

.footer-divs {
    background-color: rgba(255,254, 219, 0.75);
    border-radius: 50px;
    min-height: 100%;
    border-top: 1px solid burlywood;
    border-bottom: 1px solid #eb6; 
}
@media only screen and (min-width:1200px){
    .footer-divs {
        min-height: 80%;
        
    }
}
#footer-painting {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 50px 1fr 50px;
    
}
#footer-painting-keys {
    text-align: right;
    font-weight:bold;
}
#footer-painting-values, #footer-painting-keys {
    grid-row: 2 / 3;
}

#background-painting {
    text-align: center;
    grid-column: span 2;
}
#footer-painting-link {
    font-size: smaller;
    text-align: center;
    grid-column: span 2;   
    padding:0;
}
#contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hidden {
    display: none;
}
.hidden-desktop {
    display: none;
}

.no-overflow {
    overflow: hidden;
}
.highlight:hover, .highlight:focus {
    text-shadow: 2px 2px 7px burlywood, -2px -2px 7px white;
}