* {
    box-sizing: border-box;
}
@font-face {
    font-family: "novabr";
    src: url("../fonts/novabr_.ttf")   
}
@font-face {
    font-family: "novam";
    src: url("../fonts/novam.ttf")
}
body {
    /*grid-template-rows: defined in size.js*/
    display: grid;
    grid-template-columns: 100%;
    gap: 0.5rem;
    background-color: #FFFEDB;
    margin: 0;
    background-size: contain;
    background-position:center 0    ;
    background-repeat: repeat-y;
    overflow-x: hidden;
    min-width: 100%;
    width: 100%;
}

#floating-btn-top {
    position: fixed;
    bottom: 30px;
    right: 30px; 
    width: 50px;
    height: 50px;
    justify-content:center;
    align-items: center;
    font-size: 2.5em;
    background-color: lightblue;
    z-index: 1;
    font-family: novabr;
    opacity: 0.7;
    border: 4px solid white;
    box-shadow: 0px 0px 5px gray;
    border-radius: 15px;
    cursor: pointer;
    color: rgba(0,0,0,0.8);
    transform: rotate(270deg);
}
#floating-btn-top:hover {
    opacity: 0.9
}
.floating-btn-display-class {
    display: flex;
}


#main {
    grid-area: 2 / 1 / span 1 / 1;
    display: grid;
    grid-template: 1fr / repeat(10, 1fr) ;
    gap: 0.5em;
    
}




#background-div {
    background-size: cover;
    background-position:top;
    grid-area: 5 / 1 / 6 / -1 ;
    background-attachment: fixed;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    
}
#mid-page-arrow {
    font-family: monospace;
    font-weight: bold;
    width: min-content;
    display: none;
    align-items:center;
    justify-content: center;
    transform-origin: 50% 0%;
    line-height: 0.5;
    margin-bottom: 15px;
}
.arrow {
    color:#FFFEDB;
    font-family: novabr;
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 4px black;
    cursor: pointer;
    font-size: 7vw;
}
.arrow:hover {
    text-shadow: 0px 0px 4px black, 0px 0px 10px #FFFEDB;
}
.spiritual-science-category {
    font-weight: bold;
    font-family: verdana,arial;
    color: #00CCCC;
}
.social-science-category {
    font-weight: bold;
    font-family: verdana,arial;
    color: #666600;
}
.modern-translations-category {
    font-weight: bold;
    font-family: verdana,arial;
    color: #000066;
}
.fantasy-category {
    font-weight: bold;
    font-family: verdana,arial;
    color: #CC00CC;
}
.fiction-category {
    font-weight: bold;
    font-family: verdana,arial;
    color: #660000;
}
.childrens-books-category {
    font-weight: bold;
    font-family: verdana,arial;
    color: #006600;
}
.coming-soon-category {
    font-weight: bold;
    font-family: verdana,arial;
    color: #006666;
}
.philosophy-category {
    font-weight: bold;
    font-family: verdana,arial;
    color: #660066;
}

.hidden {
    display: none;
}
.hidden-desktop {
    display: none;
}

.no-overflow {
    overflow: hidden;
}
.highlight:hover, .highlight:focus {
    text-shadow: 2px 2px 7px burlywood, -2px -2px 7px white;
}

@media only screen and (max-width:650px) {
    .hidden-mobile{display: none;}
    .hidden-desktop {
        display: block;
    }
}

@media only screen and (min-width: 650px) {
    #main {grid-template: 50px 120px 120px 50px 120px 1fr / 50px repeat(10, 1fr) 50px ;}
    #mid-page-arrow {
        display: flex;
    }
}



@media only screen and (max-width:800px) and (orientation: landscape) {
    #main {grid-template: 17vh 17vh 17vh 17vh 17vh 17vh / 50px repeat(10, 1fr) 50px ;}
    #mid-page-arrow {
        display: none;
    }
}
