* {
    box-sizing: border-box;
}
@font-face {
    font-family: "novabr";
    src: url("../fonts/novabr_.ttf")   
}
@font-face {
    font-family: "novam";
    src: url("../fonts/novam.ttf")
}
body {
    display: grid;
    grid-template: 103vh auto auto / 100%;
    gap: 0.5em;
    background-color: #FFFEDB;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}
body div {
    padding: 0.5em;
}
#modal {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
    overflow: auto;
}

#modal-inner {
    width: 85%;
    background-color: #FFFEDB;
    overflow-y:auto;
    overflow-x: hidden;
    margin: 5% auto;
    box-shadow: 0px 0px 30px 0px #221;
}
#img-and-description {
    margin: 5%;
}
.modal-img {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
}
#modal-inner h1 {
    text-align: center;
    margin-top: 0;
}
.buttons-div {
    display: flex;
    flex-direction: column;
}
.buy-button {
    display: block;
    background-image: url("/img/buy-btn-logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 50px;
    padding: 0;
    background-color: black;
    overflow: hidden;
    border-radius: 3px;
    margin: 1em auto;
    border: 2.5px outset black;
}
.buy-button:hover {
    border: 3px inset black;
}
.online-button {
    display: flex;
    width: 150px;
    height: 50px;
    padding: 0;
    overflow: hidden;
    border-radius: 3px;
    margin: 0 auto;
    border: 2.5px outset cyan;
    align-items: center;
    justify-content: center;
    
}
.online-button:hover, .online-button:focus {
    border: 3px inset cyan;
    font-size: 98%;
}

#specs {
    clear: left;
    display: grid;
    grid-template-rows:auto auto auto;
}
#paperback, #kindle {
    display: grid;
    grid-template: 20px 1fr / 1fr 1fr;
}
#global {
    display: grid;
    grid-template: 1fr / 40% 1fr;
}
#specs div p {
    white-space:pre-wrap
}
.col-1 {
    font-weight:bold;
    text-align: right;
}
.col-1, .col-2 {
    display: grid;
    align-items:flex-end;
}
.col-title {
    grid-column: 1 / 3;
    text-align: center;
    font-weight: bold;
    font-family: novabr;
    text-decoration: underline;
}
#close-modal-btn{
    font-family: Arial, Helvetica, sans-serif;
    top: 0px;
    right: 20px;
    color: black;
    text-shadow: 0px 0px 5px #FFFEDB;
    font-size: 3em;
    font-weight: bold;
    position: fixed;
    cursor: pointer;
}
#close-modal-btn:hover {
    color: #DDDBA9;
    text-shadow: 0px 0px 5px black;
}
#header {
    grid-area: 1 / 1 / 2 / 1;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center ;
    text-shadow: 0px 0px 8px #ffb, 0px 0px 2px #ffe;
    margin-bottom: 0;
}
#header p:nth-child(2) {
    margin-top: 0;
    
}
#first-text-div {
    
    left:0;
    right: 0;
    top: 0;
}
#titles-div {
text-align: center;
overflow: hidden;
width: 90%;
display: flex;
flex-direction: column;
top: 13%;
}

#header-description-div {
left: 0;
right: 0;
top: 56%;
max-width: 80%;
}
#header h1 {
    font-family: novabr;
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 0;
    max-width: 90%;
}
#header h2 {
    font-family: novabr;
    font-size: 2em;
    margin-top:0;
}
#header p {
    background-color: rgba(255,254,219,0.7);
    padding: 0.3em;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
}
.light-header-text {
    color:#FFFEDB;
    text-shadow: 0px 0px 8px black, 0px 0px 2px black;
}
.dark-header-text {
    color: #200306;
    text-shadow: 0px 0px 8px #FFFEDB, 0px 0px 2px #FFFEDB;
}
#header-arrow {
    font-size: 3em;
    font-weight: bold;
    position: absolute;
    left:42%;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.8), 0px 0px 10px rgba(255,180,30,0.5);
}
.header-arrow-animation {
    animation: point 5s ease-in-out infinite;
}
@keyframes point {
    0% {bottom: -10px;color:#FFFEDB;}
    25% {bottom: -10px;color:#FFFEDB;}
    35% {bottom: -20px;color:#FFFECB;}
    45% {bottom: -10px;color:#FFFEDB;}
    55% {bottom: -20px;color:#FFFECB;}
    65% {bottom: -10px;color:#FFFEDB;}
    100% {bottom: -10px;color:#FFFEDB;}
}
@keyframes point-inverse {
    0% {bottom: -20px;}
    100% {bottom: -20px}
}

.rotate-arrow-down {
    transform: rotate(90deg);
    
}
.rotate-arrow-up {
    transform: rotate(90deg);
    animation: point-inverse 5s ease-in-out infinite;
    color:#FFFEDB;
}
#main {
    grid-area: 2 / 1 / span 1 / span 1;
    display: grid;
    grid-template: 1fr / repeat(10, 1fr) ;
    gap: 0.5em;
    width:100%;
    
    
}

#books-grid-outer {
    grid-area: 1 / 1 / span 1 / span 10;
      
}
#grid-selector {
    grid-area: 1 / 1 / 2 / 6;
    margin:0;
    display: grid;
    grid-template: 30px 30px / repeat(4, 1fr)  ;
    padding-top: 0;
    gap:5px;
}

#grid-selector div {
    cursor: pointer;
    display: flex;
    align-items: center;
}
#all-books {
    grid-area: 1 / 1 / 2 / 3;
    align-items: center;
    text-align: center;
    border: 0.5px solid  #fa7;
    border-radius: 10px;
}
#author-menu {
    grid-area: 2 / 1 / 3 / 3;
    border: 0.5px solid  #fa7;
    border-radius: 10px;
}
#category-menu {
    grid-area: 2 / 3 / 3 / 5;
    border: 0.5px solid  #fa7;
    border-radius: 10px;
}
#aZzA {
    grid-area: 1 / 3 / 2 / 5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0%;
}
#a-z, #z-a {
    border: 0.5px solid  #fa7;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px ;
}

.dropdown {
    position: relative;
    
}

.dropbtn {
    display: inline-block;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    flex-direction: column;
    margin-top: 1em;
    background-color: rgba(255,254, 219, 0.95);
    top: 20px;
    left: -10px;
    padding-bottom: 0;
    padding-top: 1.5em;
    width: 210%; 
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 1px 3px #eb6;
}
#categories-div {
    left: -108%
}
.dropdown-content li {
    margin-bottom: 1em;
    width:max-content;
    border-bottom: 1px solid burlywood;
}

.submenu-active + .dropdown-content {
    display: block;
}

#books-grid-inner {
    grid-area: 1 / 1 / span 1 / span 6;
    display: grid;
    grid-template-columns:1fr;
    gap: 1rem; 
    
}

.book-img-div:hover {
    box-shadow: 0px 0px 10px 3px burlywood;
}
.book-img {
    height: 100%;
    object-fit: cover;
}


.social-science-category {
    color: magenta;
}
.modern-translations-category {
    color: blue;
}
.fiction-category {
    color: red;
}
.childrens-books-category {
    color:green;
}

#footer {
grid-area: -1 / 1 / -2 / -1;
background-size: cover;
background-position: top center;
background-attachment: fixed;
background-repeat: no-repeat;


}
.footer-divs {
    background-color: rgba(255,254, 219, 0.6);
    border-radius: 50px;
    margin-bottom: 1em;
    min-height: 100px;
}
#footer-painting {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 50px 1fr;
}
#footer-painting-keys {
    text-align: right;
    font-weight:bold;
}
#footer-painting-values, #footer-painting-keys {
    grid-row: 2 / 3;
}
#background-painting {
    text-align: center;
    grid-column: span 2;
}
#contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hidden {
    display: none;
}
.hidden-mobile {
    display:none;
}
.no-overflow {
    overflow: hidden;
}
#arrow-left-container, #arrow-right-container, #carousel-outer, #painting-title-author-div, #painting-preview, #painting-bottom,#background-div {
    display: none;
}
.highlight:hover, .highlight:focus {
    text-shadow: 2px 2px 7px burlywood, -2px -2px 7px white;
}