.hidden {
    display: none;
}
#modal {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
    overflow: auto;
}

#modal-inner {
    width: 87%;
    background-color: #FFFEDB;
    overflow-y:auto;
    overflow-x: hidden;
    margin: 5% auto;
    box-shadow: 0px 0px 30px 0px #221;
    padding: 1em;
}
#img-and-description {
    margin: 5%;
}
.modal-img {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
}
#modal-inner h1 {
    font-family: novabr;
    margin-top: 0;
    font-size: 2.2em;
}
#modal-inner h1, #modal-inner h3 {
    font-family: novabr;
    text-align: center;
}
#modal-inner h3 {
    font-size: 1.8em;
    margin-top: 0;
}
.buttons-div {
    display:flex;
    flex-direction: column;
}
.buy-button, .online-button {
    width: 150px;
    height: 50px;
    padding: 0;
    margin: 0 auto;
    
}
.buy-button {
    display: block;
    background-image: url("/img/buy-btn-logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    overflow: hidden;
    border-radius: 3px;
    border: 2.5px outset black;
}
.buy-button:hover, .buy-button:focus {
    border: 3px inset black;
}
.online-button {
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    border: 2.5px outset cyan;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    
}
.online-button:hover, .online-button:focus {
    border: 3px inset cyan;
    font-size: 98%;
}
#specs {
    clear: left;
    display: grid;
    grid-template-rows:auto auto auto;
    
}
#paperback, #kindle, #hardcover {
    display: grid;
    grid-template: auto 1fr / 1fr 1fr;
    margin-top: 1rem;
}
#global {
    display: grid;
    grid-template: 1fr / 40% 1fr;
}
#specs div p {
    white-space:pre-wrap;
    
}
.col-1, .col-3 {
    font-weight:bold;
    text-align: right;
}
.col-2, .col-4  {
    margin-left: 0.2em;
}
.col-1, .col-2, .col-3, .col-4 {
    white-space: nowrap;
    align-items:flex-end;
    display: grid;
}
.specs-center-div {
    grid-column: 1 / 3;
}
.col-title {
    text-align: center;
    font-weight: bold;
    font-family: novabr;
    text-decoration: underline;
}
#close-modal-btn{
    font-family: Arial, Helvetica, sans-serif;
    top: 0px;
    right: 20px;
    color: black;
    text-shadow: 0px 0px 5px #FFFEDB;
    font-size: 3em;
    font-weight: bold;
    position: fixed;
    cursor: pointer;
}
#close-modal-btn:hover {
    color: #DDDBA9;
    text-shadow: 0px 0px 5px black;
}
@media only screen and (min-width: 650px) {
    #global {
        grid-template: 1fr / 1fr 1fr;
    }
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*++++++++++       Second size: min-width: 1200px     +++++++++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media only screen and (min-width: 1200px) {
    #modal-inner {
        width: 92%;
    }
    .modal-content-wrapper {
        padding: 3em;
    }
    .modal-content-wrapper h1 {
        margin-bottom: 2em;
        
    }
    .modal-img {
        margin-right: 20px;
        float: left;
    }
    .buttons-div {
        flex-direction: row;
    }
    .online-button {
        margin-bottom: 0;
    }
    #specs {
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: auto;
    
    }
    #global {
        margin: 0 auto;
        width: 80%;
        display: flex;
    }
    #global div {
        width: 100%
    }
    #specs div p {
        white-space:nowrap;
    }
    .col-1, .col-2, .col-3, .col-4  {
        display: block;
    }
    
}
